body {
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    height: 30vh;
    margin: 2rem;
}

#pokemon-image {
    width:fit-content;
    height: 40vh;
}

.notFound {
    filter: grayscale(100%) brightness(0);
}